$header-color: #000;
$primary-color: #3498db;
$secondary-color: #2ecc71;
html {
  scroll-behavior: smooth;
}
.main-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .home-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ebebeb;
    background-image: linear-gradient(360deg, #ebebec, #fff7);
    overflow: auto;
    .home {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      .main-body {
        padding: 10px 7px 5px 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;
        .news-feed {
          margin-top: 5px;
          .tab-options {
            padding: 2px 10px;
          }
        }
      }
      .view_more {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #464646;
        flex-direction: column;
        gap: 0px;
        font-size: 0.8rem;
        .button {
          margin-left: auto;
          display: flex;
          gap: 5px;
          align-items: center;
          svg {
            font-size: 0.6rem;
            padding: 10px 5px 10px 10px;
            border-left: 1px solid #e8e8e8;
          }
          border-radius: 5px;
          background-color: #fff;
          padding: 0px 8px;
          box-shadow: 1px 2px 3px #0003;
        }
      }
      .user_configuration {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0509803922);
        display: flex;
        position: relative;
        font-size: 0.8rem;
        .preview_container {
          display: flex;
          flex: 1;
          .items {
            color: #999;
            display: flex;
            flex: 1;
            justify-content: center;
            padding: 10px;
            align-items: center;
            padding-left: 5px;
            user-select: none;
            &:nth-child(2) {
              border-left: 1px solid #e7e7e7;
              border-right: 1px solid #e7e7e7;
            }
            &:nth-child(3) {
              border-right: 1px solid #e7e7e7;
            }
            .txt {
              display: flex;
              gap: 5px;
              align-items: center;
              transition: all 0.3s;
              transition: all 0.5s ease-in-out;
              position: relative;
            }
            .actions {
              display: flex;
              margin-left: auto;
              align-items: center;
              gap: 5px;
              border-radius: 7px;
              border: 1px solid #d4d4d4;
              padding: 3px 7px;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input {
              width: 20px;
              border: hidden;
              outline: none;
              border-bottom: 1px solid #d4d4d4;
              text-align: right;
            }
          }
        }
        .view_more {
          gap: 5px;
          display: flex;
          align-items: center;
          color: #999;
          user-select: none;
        }
      }
      .user_dashboard {
        display: flex;
        gap: 10px;
        flex: 1;
        justify-content: space-between;
        .items {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          flex: 1;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0509803922);
          padding: 10px 10px 5px 10px;
          gap: 2px;
          .title {
            font-size: 0.7rem;
            display: flex;
            justify-content: center;
            color: #555;
          }
          .data {
            display: flex;
            font-size: 1.3rem;
            font-weight: 600;
            justify-content: center;
            align-items: baseline;
          }
        }
      }
      .header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 10;
        .user-card {
          color: #fff;
          border-radius: 0px 0px 10px 10px;
          padding: 7px 10px;
          box-shadow: 1px 2px 3px #0003;
          gap: 15px;
          height: 85px;
          display: flex;
          flex-direction: column;
          &.day {
            background-color: #00a1ff;
          }
          &.night {
            background-color: #272a2d;
          }
          .user-info {
            display: flex;
            margin-top: auto;
            .zalo_btn {
              display: flex;
              flex: 1;
            }
            .userConfiguration {
              display: flex;
              flex-direction: column;
              display: flex;
              .box-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .icon {
                  display: flex;
                  flex: 1;
                  align-items: center;
                  justify-content: center;
                  width: 35px;
                  img {
                    width: 100%;
                  }
                }
                .text {
                  white-space: nowrap;
                  font-size: 0.7rem;
                  width: 80px;
                  display: flex;
                  justify-content: center;
                  &.day {
                    color: rgb(255, 217, 0);
                    text-shadow: 1px 2px 3px rgb(255 0 0 / 20%);
                  }
                  &.night {
                    color: rgba(255, 255, 255, 0.404);
                    text-shadow: 1px 2px 3px #0003;
                  }
                }
              }
            }
            .avatar {
              display: flex;
              align-items: center;
              width: 40px;
              min-width: 40px;
              height: 40px;
              border-radius: 10px;
              overflow: hidden;
              border: 2px solid #fff;
              box-shadow: 1px 2px 3px #00000030;
              img {
                width: 100%;
              }
            }
            .information {
              display: flex;
              flex-direction: column;
              justify-content: center;
              overflow: hidden;
              gap: 0px;
              flex: 1;
              .username {
                white-space: nowrap;
                font-size: 1.1rem;
                display: flex;
                font-weight: bold;
              }
              .userlevel {
                display: flex;
                font-size: 0.7rem;
                gap: 5px;
                user-select: none;
                .box {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  border-radius: 5px;
                  padding: 0px 5px;
                  border: 1px solid;
                }
              }
              .location {
                color: #999;
              }
              .userlocation {
                font-size: 0.8rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          &.active {
            height: 140px;
            .user-info {
              margin-top: auto;
            }
          }
        }
      }
    }
  }
  .news-feed {
    display: flex;
    flex-direction: column;
    .tab-options {
      padding: 0px 10px;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 0.8rem;
        li {
          float: left;
          padding: 3px 10px 3px 0px;
          color: #b1b1b1;
          transition: all 0.2s;
          cursor: pointer;
          user-select: none;
          font-weight: 600;
          &:hover {
            color: #0a3450;
          }
          &.active {
            color: #0a3450;
          }
        }
      }
    }
    .tab-content {
      background-color: rgba(255, 255, 255, 0.842);
      border-radius: 5px;
      padding: 7px 10px;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0509803922);
      gap: 15px;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
    }
  }
  .white-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 7px 10px;
    box-shadow: 1px 2px 3px #0003;
    gap: 15px;
    display: flex;
    flex-direction: column;
    .user-dashboard {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .user-options {
        gap: 5px;
        display: flex;
        flex-direction: column;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          font-size: 0.8rem;
          display: flex;
          justify-content: space-around;
          li {
            text-align: center;
            padding: 3px 0px;
            width: 30%;
            color: #999;
            transition: all 0.2s;
            cursor: pointer;
            user-select: none;
            border-bottom: 1px solid transparent;
            &:hover {
              color: #000;
            }
            &.active {
              color: #000;
              border-bottom: 1px solid #cbcbcb;
            }
          }
        }
        .tab-content {
          border-radius: 5px;
          padding: 5px;
          color: #999;
          font-size: 0.8rem;
          .lich-bangcong {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .popup {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.4);
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 100;
            }
            .popup-content {
              background: #fff;
              border-radius: 8px;
              position: relative;
              max-width: 500px;
              width: 90%;
              animation: slideIn 0.3s ease-out;
              .title {
                display: flex;
                align-items: center;
                padding: 5px 10px;
                box-shadow: 1px 1px 2px #0003;
                .text {
                  display: flex;
                }
                .close {
                  display: flex;
                  align-items: center;
                  margin-left: auto;
                  cursor: pointer;
                  font-size: 24px;
                  color: #a3a3a3;
                }
              }
              .details {
                padding: 10px 20px 20px 20px;
                table {
                  tr {
                    td {
                      border: hidden;
                      text-align: left;
                      &:first-child {
                        white-space: nowrap;
                        font-weight: 600;
                        padding-right: 15px;
                      }
                    }
                  }
                }
              }
            }
            .bangcong-thang {
              display: flex;
              font-size: 0.75rem;
              justify-content: center;
              height: 25px;
              select {
                border: hidden;
                outline: none;
                font-size: 0.8rem;
                color: #777;
                text-align: center;
                -webkit-appearance: none;
                -moz-appearance: none;
                padding: 0px 2px;
                background-color: transparent;
              }
              button {
                outline: none;
                width: 50px;
                border: hidden;
                border-radius: 5px;
              }
            }
            table {
              border-collapse: separate;
              border-spacing: 0px 0px;
              th {
                font-size: 0.7rem;
                font-weight: 600;
                padding: 5px 0px;
                width: 50px;
              }
              tr {
                td {
                  user-select: none;
                  border: 1px solid #c1c1c1;
                  border-bottom: hidden;
                  border-left: hidden;
                  text-align: center;
                  height: 40px;
                  position: relative;
                  &.active {
                    background-color: #eef5f0;
                    color: #333;
                  }
                  svg {
                    position: absolute;
                    right: 4px;
                    top: 4px;
                    color: #47c590;
                  }
                  &:first-child {
                    border-left: 1px solid #c1c1c1;
                  }
                }
                &:first-child {
                  td {
                    &:first-child {
                      border-top-left-radius: 5px;
                    }
                    &:last-child {
                      border-top-right-radius: 5px;
                    }
                  }
                }
                &:last-child {
                  td {
                    border-bottom: 1px solid #c1c1c1;
                    &:first-child {
                      border-bottom-left-radius: 5px;
                    }
                    &:last-child {
                      border-bottom-right-radius: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .title {
        font-size: 13px;
      }
      .money {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px 0px;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: system-ui;
        .txt {
          padding-top: 8px;
        }
        .xt {
          font-weight: 600;
          font-size: 14px;
          display: flex;
          gap: 5px;
          align-items: center;
          .tbox {
            font-size: 12px;
            font-weight: normal;
            color: #999;
          }
          &.down {
            color: rgb(197, 58, 3);
          }
          &.up {
            color: #09c309;
          }
        }
        &.up {
          color: #000000;
        }
        svg {
          font-size: 1.2rem;
        }
        .icon {
          width: 50px;
          height: 50px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .page {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    .home-header {
      padding: 5px;
    }
  }
  .home-menu {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 2px 3px #000;
    overflow: hidden;
    height: 65px;
    display: flex;
    align-items: center;
    a {
      user-select: none;
      display: flex;
      flex: 1;
      justify-content: center;
      button {
        position: relative;
        height: 100px;
        display: flex;
        width: 90%;
        flex-direction: column;
        padding: 7px 5px;
        align-items: center;
        justify-content: center;
        color: #b4b4b4;
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 50%;
        font-size: 0.7rem;
        .txt {
          height: 0px;
          overflow: hidden;
          transition: all 0.2s;
        }
        svg {
          z-index: 2;
          font-size: 1rem;
          transition: all 0.2s;
        }
        &:active {
          width: 95%;
          background-color: #e2e2e2;
        }
      }
      &.active {
        svg {
          font-size: 1.2rem;
        }
        button {
          color: #000000;
          .txt {
            height: 20px;
          }
        }
      }
    }
  }
}
.zaui-page {
  min-height: unset;
}
.section-container {
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex: 1;
  box-shadow: 1px 1px 5px #00000030;
}
.zaui-list-item {
  cursor: pointer;
}
.flex1 {
  flex: 1;
}
.gap10 {
  gap: 10px;
}
.gap5 {
  gap: 5px;
}
.flex-cl {
  display: flex;
  flex-direction: column;
}
.null {
  padding-left: 5px;
  color: #999;
  min-height: 40px;
  display: flex;
  align-items: center;
}
.f-configuration {
  .config-container {
    background-color: #fff;
    border-radius: 7px;
    font-size: 0.8rem;
    animation: fadeIn 0.3s ease-out; /* Thêm hiệu ứng xuất hiện */
    box-shadow: 0px 2px 3px #00000017;
    &.fade-out {
      animation: fadeOut 0.3s ease-out; /* Thêm hiệu ứng biến mất */
    }
    .QRCode {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      padding: 15px 0px;
      flex-direction: column;
      gap: 5px;
      .txt-code {
        color: #999;
      }
      img {
        width: 100px;
      }
    }
    table {
      width: 100%;
      tr {
        td {
          padding: 3px 20px;
          &:last-child {
            text-align: right;
          }
        }
        &:last-child {
          td {
            border-bottom: hidden;
            border-top: 1px solid #ebebeb;
            font-weight: 600;
          }
        }
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 0px;
}
/* styles.css hoặc file tương tự */
@keyframes flyUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fly-up {
  animation: flyUp 0.3s ease-out;
}

/* Hiệu ứng xuất hiện */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hiệu ứng biến mất */
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
