$header-color: #000;
$primary-color: #3498db;
$secondary-color: #2ecc71;
html {
  scroll-behavior: smooth;
}
.main-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .home-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #ebebeb;
    overflow: auto;
    .home {
      display: flex;
      overflow: hidden;
      flex-direction: column;
      .main-body {
        padding: 10px 5px 5px 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;
        .news-feed {
          margin-top: 5px;
          .tab-options {
            padding: 2px 10px;
          }
        }
      }
      .user_configuration{
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0509803922);
        padding: 7px;
        display: flex;
        .preview_container{
          display: flex;
          flex: 1;
          align-items: center;
          gap: 5px;
          .items{
            color: #999;
            display: flex;
            gap: 5px;
            font-size: 0.8rem;
            border: 1px solid #d4d4d4;
            padding: 3px 7px;
            border-radius: 7px;
            svg{
              font-size: 0.7rem;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
            input{
              width: 20px;
              border: hidden;
              outline: none;
              border-bottom: 1px solid #d4d4d4;
              text-align: right
            }
          }
        }
        .view_more{
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #999;
        }
      }
      .user_dashboard{
        display: flex;
        gap: 10px;
        flex: 1;
        justify-content: space-between;
        .items{
          display: flex;
          flex-direction: column;
          background-color: #fff;
          flex: 1;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0509803922);
          padding: 10px 10px 5px 10px;
          gap: 2px;
          .title{
            font-size: 0.7rem;
            display: flex;
            justify-content: center;
            color: #555;
          }
          .data{
            display: flex;
            font-size: 1.3rem;
            font-weight: 600;
            justify-content: center;
            align-items: baseline;
          }
        }
      }
      .header {
        display: flex;
        flex-direction: column;
        gap: 10px;
        z-index: 10;
        .user-card {
          background-color: #fff;
          border-radius: 0px 0px 10px 10px;
          padding: 7px 10px;
          box-shadow: 1px 2px 3px #0003;
          gap: 15px;
          height: 65px;
          display: flex;
          flex-direction: column;
          .user-info {
            display: flex;
            gap: 20px;
            .userConfiguration{
              max-width: 80px;
              display: flex;
              flex-direction: column;
              display: flex;
              flex: 1;
              margin-left: auto;
              .box-content{
                display: flex;
                flex: 1;
                align-items: center;
                flex-direction: column;
                .icon{
                  display: flex;
                  flex: 1;
                  align-items: center;
                  justify-content: center;
                  width: 30px;
                  img {
                    width: 100%;
                  }
                }
                .text{
                  white-space: nowrap;
                  font-size: 0.7rem;
                  width: 80px;
                  justify-content: center;
                  display: flex;
                  &.day{
                    color: rgb(255, 217, 0);
                    text-shadow: 1px 2px 3px rgb(255 0 0 / 20%);
                  }
                  &.night{
                    color: rgb(55, 54, 107);
                    text-shadow: 1px 2px 3px #0003;
                  }
                }
              }
            }
            .avatar {
              display: flex;
              align-items: center;
              width: 50px;
              min-width: 50px;
              border-radius: 10px;
              overflow: hidden;
              border: 3px solid #fff;
              box-shadow: 1px 2px 3px #00000030;
              img {
                width: 100%;
              }
            }
            .information {
              display: flex;
              flex-direction: column;
              justify-content: center;
              overflow: hidden;
              gap: 5px;
              .username {
                font-size: 1.1rem;
                display: flex;
                font-weight: bold;
              }
              .userlevel {
                display: flex;
                font-size: 0.8rem;
                gap: 5px;
                color: #999;
                .box {
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  border-radius: 5px;
                  padding: 0px 5px;
                  border: 1px solid #999;
                }
              }
              .location {
                color: #999;
              }
              .userlocation {
                font-size: 0.8rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
  .news-feed {
    display: flex;
    flex-direction: column;
    .tab-options {
      padding: 0px 10px;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 0.8rem;
        li {
          float: left;
          padding: 3px 10px 3px 0px;
          color: #b1b1b1;
          transition: all 0.2s;
          cursor: pointer;
          user-select: none;
          font-weight: 600;
          &:hover {
            color: #0a3450;
          }
          &.active {
            color: #0a3450;
          }
        }
      }
    }
    .tab-content {
      background-color: rgba(255, 255, 255, 0.842);
      border-radius: 5px;
      padding: 7px 10px;
      box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.0509803922);
      gap: 15px;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
    }
  }
  .white-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 7px 10px;
    box-shadow: 1px 2px 3px #0003;
    gap: 15px;
    display: flex;
    flex-direction: column;
    .user-dashboard {
      display: flex;
      flex-direction: column;
      gap: 5px;
      .user-options {
        gap: 5px;
        display: flex;
        flex-direction: column;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          font-size: 0.8rem;
          display: flex;
          justify-content: space-around;
          li {
            text-align: center;
            padding: 3px 0px;
            width: 30%;
            color: #999;
            transition: all 0.2s;
            cursor: pointer;
            user-select: none;
            border-bottom: 1px solid transparent;
            &:hover {
              color: #000;
            }
            &.active {
              color: #000;
              border-bottom: 1px solid #cbcbcb;
            }
          }
        }
        .tab-content {
          border-radius: 5px;
          padding: 5px;
          color: #999;
          font-size: 0.8rem;
          .lich-bangcong{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .popup {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.4);
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 100;
            }
            .popup-content {
              background: #fff;
              border-radius: 8px;
              position: relative;
              max-width: 500px;
              width: 90%;
              animation: slideIn 0.3s ease-out;
              .title{
                display: flex;
                align-items: center;
                padding: 5px 10px;
                box-shadow: 1px 1px 2px #0003;
                .text{
                  display: flex;
                }
                .close {
                  display: flex;
                  align-items: center;
                  margin-left: auto;
                  cursor: pointer;
                  font-size: 24px;
                  color: #a3a3a3;
                }
              }
              .details{
                padding: 10px 20px 20px 20px;
                table{
                  tr{
                    td{
                      border: hidden;
                      text-align: left;
                      &:first-child{
                        white-space: nowrap;
                        font-weight: 600;
                        padding-right: 15px;
                      }
                    }
                  }
                }
              }
            }
            .bangcong-thang{
              display: flex;
              font-size: 0.75rem;
              justify-content: center;
              height: 25px;
              select{
                border: hidden;
                outline: none;
                font-size: 0.8rem;
                color: #777;
                text-align: center;
                -webkit-appearance: none;
                -moz-appearance: none;
                padding: 0px 2px;
                background-color: transparent;
              }
              button{
                outline: none;
                width: 50px;
                border: hidden;
                border-radius: 5px;
              }
            }
            table{
              border-collapse: separate;
              border-spacing: 0px 0px;
              th{
                font-size: 0.7rem;
                font-weight: 600;
                padding: 5px 0px;
                width: 50px;
              }
              tr{
                td{
                  user-select: none;
                  border: 1px solid #c1c1c1;
                  border-bottom: hidden;
                  border-left: hidden;
                  text-align: center;
                  height: 40px;
                  position: relative;
                  &.active{
                    background-color: #eef5f0;
                    color: #333;
                  }
                  svg{
                    position: absolute;
                    right: 4px;
                    top: 4px;
                    color: #47c590;
                  }
                  &:first-child{
                    border-left: 1px solid #c1c1c1;
                  }
                }
                &:first-child{
                  td{
                    &:first-child{
                      border-top-left-radius: 5px;
                    }
                    &:last-child{
                      border-top-right-radius: 5px;
                    }
                  }
                }
                &:last-child{
                  td{
                    border-bottom: 1px solid #c1c1c1;
                    &:first-child{
                      border-bottom-left-radius: 5px;
                    }
                    &:last-child{
                      border-bottom-right-radius: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .title {
        font-size: 13px;
      }
      .money {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3px 0px;
        font-size: 1.4rem;
        gap: 5px;
        .xt{
          font-weight: 600;
          font-size: 14px;
          &.down{
            color: rgb(197, 58, 3);
          }
          &.up{
            color: green;
          }
        }
        &.up{
          color: #000000;
        }
        svg{
          font-size: 1.2rem;
        }
        .icon{
          width: 50px;
          height: 50px;
          overflow: hidden;
          img{
            width: 100%;
          }
        }
      }
    }
  }
  .page {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    .home-header {
      padding: 5px;
    }
  }
  .home-menu {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 2px 3px #000;
    overflow: hidden;
    height: 65px;
    display: flex;
    align-items: center;
    a {
      user-select: none;
      display: flex;
      flex: 1;
      justify-content: center;
      button {
        position: relative;
        height: 100px;
        display: flex;
        width: 90%;
        flex-direction: column;
        padding: 7px 5px;
        align-items: center;
        justify-content: center;
        color: #b4b4b4;
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 50%;
        font-size: 0.7rem;
        .txt {
          height: 0px;
          overflow: hidden;
          transition: all 0.2s;
        }
        svg {
          z-index: 2;
          font-size: 1rem;
          transition: all 0.2s;
        }
        &:active {
          width: 95%;
          background-color: #e2e2e2;
        }
      }
      &.active {
        svg {
          font-size: 1.2rem;
        }
        button {
          color: #000000;
          .txt {
            height: 20px;
          }
        }
      }
    }
  }
}
.zaui-page {
  min-height: unset;
}
.section-container {
  padding: 10px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex: 1;
  box-shadow: 1px 1px 5px #00000030;
}
.zaui-list-item {
  cursor: pointer;
}
.gap5 {
  gap: 5px;
}
.flex-cl {
  display: flex;
  flex-direction: column;
}
.null {
  padding-left: 5px;
  color: #999;
  min-height: 40px;
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 0px;
}